/* Box Shadow And Text Shadow

    box-shadow: h-shadow->x  v-shadow->y  blur spread color inset;

*/

div {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    background-color: #f50;
    box-shadow: 5px 5px 5px 0 gray;
}


span {
    text-shadow: 2px 3px 6px #656464;
    color: rgb(1, 154, 1);
}